<!-- CONTENT: {name} -->
<table border="0" cellspacing="0" cellpadding="0" width="100%">
  <tr>
      <td style="font-size: 0;">&nbsp;</td>
      <td width="480">
          
          <!-- Content goes here -->

      </td>
      <td style="font-size: 0;">&nbsp;</td>
  </tr>
</table>