<!-- This goes to <style> -->
@import url(https://fonts.googleapis.com/css?family=Varela+Round); 

<!-- This goes straight after opening <body> tag -->
<!--[if mso]> 
<style type="text/css">
.outlook-fallback {
font-family: Lucida Sans Unicode, sans-serif;
}
</style>
<![endif]-->
<!--[if !mso]><!--> 

<!-- Normal text -->
<font size="2" class="outlook-fallback" face="Varela Round, Lucida Grande, Lucida Sans Unicode, Lucida Sans, DejaVu Sans, Verdana, sans-serif" style="font-size:13px;  color:#000000; line-height:150%;" color="#000000">Normal text<br /></font>

<!-- Normal linked text -->
<a href="tel:000 0000 0000" style="font-size:13px;font-family:Varela Round, Lucida Grande, Lucida Sans Unicode, Lucida Sans, DejaVu Sans, Verdana, sans-serif;color:#000000;text-decoration:none;" target="_blank"><font size="2" class="outlook-fallback" face="Varela Round, Lucida Grande, Lucida Sans Unicode, Lucida Sans, DejaVu Sans, Verdana, sans-serif" style="font-size:13px;  color:#000000; line-height:150%;" color="#000000">000 0000 0000<br /></font></a> 

<!-- Normal email with tons of fixes for various email clients -->
<!--[if (gte mso 9)|(IE)]>
<font size="2" class="outlook-fallback" face="Varela Round, Lucida Grande, Lucida Sans Unicode, Lucida Sans, DejaVu Sans, Verdana, sans-serif" style="font-size:13px; color:#000000; line-height:150%;" color="#000000"><a href=" mailto:email@addre.ss " style="font-size:13px;font-family:Varela Round, Lucida Grande, Lucida Sans Unicode, Lucida Sans, DejaVu Sans, Verdana, sans-serif;color:#000000;text-decoration:none;" class="outlook-fallback" target="_blank"><font size="2" class="outlook-fallback" face="Varela Round, Lucida Grande, Lucida Sans Unicode, Lucida Sans, DejaVu Sans, Verdana, sans-serif" style="font-size:13px;  color:#000000; line-height:150%;" color="#000000">email@addre.ss</font></a><br /></font>
<![endif]-->
<!--[if (!mso)&(!IE)]><!--><div style="mso-hide:all"><font size="2" class="outlook-fallback" face="Varela Round, Lucida Grande, Lucida Sans Unicode, Lucida Sans, DejaVu Sans, Verdana, sans-serif" style="font-size:13px; color:#000000; line-height:150%;" color="#000000"><a href=" mailto:email@addre.ss " style="font-size:13px;font-family:Varela Round, Lucida Grande, Lucida Sans Unicode, Lucida Sans, DejaVu Sans, Verdana, sans-serif;color:#000000;text-decoration:none;" class="outlook-fallback" target="_blank">email@addre.ss</a></font></div><!--<![endif]-->