<!-- Bullet List -->
<table cellpadding="2" cellspacing="2" border="0"> 
  <tr>
    <td style="vertical-align:top;">&#8226;</td>
    <td>Risus</td>
  </tr>
  <tr>
    <td style="vertical-align:top;">&#8226;</td>
    <td>Venenatis</td>
  </tr>
  <tr>
    <td style="vertical-align:top;">&#8226;</td>
    <td>Vestibulum</td>
  </tr>
</table>