<table bgcolor="{bgcolor}" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td align="center" style="padding: 0 20px;">
        	
            {childtable}
            
        </td>
    </tr>
</table>